<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT MANAGEMENT</title>
    <link rel="stylesheet" href="../../css/pass/password.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../assets/logo/main_logo_2.png">
</head>
<body id="main-body">
    <div class="slogan">
        <span class="text-quet">PROJECT MANAGEMENT</span>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="popup-liquid" id="popup">
        <div class="popup-content">
            <p style='font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;' class="title-question">Bạn muốn làm gì?</p>
            <div class="lua-chon">
                <button id="tao_tai_khoan" class="btn-liquid" onclick="window.location.href='tao_tai_khoan.html'">
                    <span style='font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;' >Tạo tài khoản</span>
                </button>
                <button id="tim_tai_khoan" class="btn-liquid" onclick="window.location.href='quen_mat_khau.html'">
                    <span style='font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;' >Tìm tài khoản</span>
                </button>
            </div>
            <button class="btn-close" onclick="closePopup()">Đóng</button>
        </div>
    </div>
    <div class="avatar-container">
        <img id="hinhgai" src="../../assets/logo/main_logo.png" alt="logo app" title="web được phát triển bởi LVSA team">
    </div>
    <form>
        <div class="anh-nen-mo"></div>
        <div class="o-tong">
            <div class="the-dang-nhap">
                <div class="form-content">
                    <div class="khung1">
                        <input id="username" type="text" class="o-dang-nhap" required>
                        <label class="nhan-bay">Nhập tên của bạn...</label>
                    </div>
                    <div class="khung2">    
                        <input type="password" id="password" class="o-dang-nhap" required>
                        <label class="nhan-bay">Nhập mật khẩu...</label>
                    </div>
                    <button type="button" class="nut-bam" onclick="kiemTra()">Đăng nhập</button>
                    <button onclick="openPopup()" type="button" class="quen-mat-khau">Bạn quên mật khẩu?</button>
                </div>
                <div class="lol">
                    <div class="progress-container">
                        <div class="progress-bar" id="progress-bar"></div>
                        <div class="dot active">1</div>
                        <div class="dot">2</div>
                        <div class="dot">3</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="../../js/chuc_nang/language.js"></script>
    <script src="../../js/mat_khau/mat_khau.js"></script>
    <script src="../../js/mat_khau/kiem_tra_dang_nhap.js"></script>
    <script src="../../js/chuc_nang/doi_background.js"></script> 
    <script src="../../js/chuc_nang/norightclick.js"></script>
    <script src="../../js/chuc_nang/lua-chon-taotk-timtk.js"></script>
</body>
</html>