<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo tài khoản</title>
    <link rel="stylesheet" href="../../css/pass/tao_tai_khoan.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../assets/logo/main_logo_2.png">
</head>
<body id="main-body">
    <div class="nenmo_background"></div>
    <div class="slogan">
        <span class="text-quet">PROJECT MANAGEMENT</span>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="pop-up" id="successPopup">
        <p style='font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; color: white;'>
            Tạo tài khoản thành công!
        </p> 
        <div class="key-container">
            <span id="show-key">Đang lấy key...</span>
        </div>
        <p style="font-size: 12px; color: rgba(255,255,255,0.6); margin-top: 10px;">Hãy lưu lại key này để bảo mật nhé!</p>
    </div>
    <div class="avatar-container">
        <img id="hinhgai" src="../../assets/logo/main_logo.png" alt="logo app" title="web được phát triển bởi LVSA team">
    </div>
    <form onsubmit="return false;" method="POST">
        <div class="anh-nen-mo"></div>
        <div class="o-tong">
            <div class="the-dang-nhap">
                <div class="form-content">
                    <div class="khung1">
                        <input id="username" type="text" class="o-dang-nhap" required>
                        <label class="nhan-bay">Nhập Gmail hoặc số điện thoại...</label>
                    </div>
                    <div class="khung2">    
                        <input type="password" id="password" class="o-dang-nhap" required>
                        <label class="nhan-bay">Nhập mật khẩu...</label>
                    </div>
                    <button type="button" class="nut-bam" id="dang-nhap2">Đăng ký ngay</button>
                    <button onclick="window.history.back()" type="button" class="quen-mat-khau">Bạn đã có tài khoản</button>
                </div>
                <div class="lol">
                    <div class="progress-container">
                        <div class="progress-bar" id="progress-bar"></div>
                        <div class="dot active">1</div>
                        <div class="dot">2</div>
                        <div class="dot">3</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="../../js/chuc_nang/language.js"></script>
    <script src="../../js/mat_khau/mat_khau.js"></script>
    <script src="../../js/chuc_nang/doi_background.js"></script> 
    <script src="../../js/mat_khau/do_manh_cua_pass.js"></script>
    <script src="../../js/chuc_nang/norightclick.js"></script>
</body>
</html>