<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đang phát triển - admindashboard</title>
    <link rel="stylesheet" href="../../css/styles/admindashboard/admindashboard.css">
    <link rel="icon" type="image/x-icon" href="../../assets/logo/main_logo_2.png">
</head>
<body>
    <div class="avatar-container">
        <img id="hinhgai" src="../../assets/logo/main_logo.png" alt="logo app" title="web được phát triển bởi LVSA team">
    </div>
    <div class="main-content">
    <div class="under-construction">
        <div class="badge">Version 2.0</div>
        <h1>Đang thiết lập không gian làm việc...</h1>
        <p>Hệ thống quản trị đang được tối ưu hóa giao diện người dùng. <br> Dự kiến sẽ sẵn sàng phục vụ bạn vào tuần tới.</p>
        <div class="progress-wrapper">
            <div class="progress-info">
                <span>Tiến độ hoàn thiện</span>
                <span>75%</span>
            </div>
            <div class="progress-bar-container">
                <div class="progress-fill"></div>
            </div>
        </div>

        <button class="btn-back" onclick="window.history.back()">Quay lại hệ thống</button>
    </div>
</div>
</body>
</html>