<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../../css/styles/group_mainweb/upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../assets/logo/main_logo_2.png">
</head>
<body>
    <div class="nenmo_background"></div>
    <div class="slogan">
        <span class="text-quet">PROJECT MANAGEMENT</span>
    </div>
    <div class="avatar-container">
        <img id="hinhgai" src="../../assets/logo/main_logo.png" alt="em đúng xinh vl" title="em xinh quáaaaa">
    </div>
    <div class="o-chinh">
        <h1>Upload Page</h1>
        <form id="uploadForm">
            <label for="fileUpload">Chọn file để tải lên(html):</label>
            <input type="file" id="fileUpload" name="fileUpload" required>
            <button type="submit">Upload</button>
        </form>
    </div>
    <script src="../../js/upload/upload_file.js"></script>
</body> 
</html>